
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInicio.cshtml";
}

<div class="jumbotron" style="background-color:darkturquoise">
    <h1>FastLearning</h1>
    <p class="lead">Aplicación que te permitirá encontrar y enseñar de manera presencial, clases segun tus necesidades de aprendizaje</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Busqueda rápida</h2>
        <p>
            De una manera rápida y sencilla, FastLearning te permitira encontrar las clases que tu estas buscando para aprender con profesores calificados por los porpios usuarios.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Brinda tus conocimientos</h2>
        <p>
            Puedes crear clases segun tus conocimientos en distintos temas para enseñar a otros usuarios que lo necesiten.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Califica la calidad de enseñanza</h2>
        <p>
            Despues de que termines las clases en las que te inscribiste, puedes calificar a los profesores, para que asi los demas usuarios tengan una refencia de la calidad de enseñanza de los profesores.
        </p>
    </div>
</div>

