@model FastLearning.Models.DescuentoUsuario

@{
    ViewBag.Title = "CanjearPuntos";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Canjear Puntos</h2>
<h3>Puntos: @ViewBag.Puntos</h3>
@using (Html.BeginForm()) 
{   
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Descuento:</label>
            <div class="col-md-10">
                <select class="form-control">
                    <option value="100">25%</option>
                    <option value="150">50%</option>
                    <option value="200">75%</option>
                </select>
                @Html.ValidationMessageFor(model => model.id_descuento, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Valor del descuento:</label>
            <div class="col-md-10">
                <label class="control-label col-md-2"></label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Canjear
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Canjear descuento</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Está seguro de canjear este descuento?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" value="Canjear" class="btn btn-default">Canjear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a mis descuentos", "Index")
</div>
