@model IEnumerable<FastLearning.Models.Habilidad>

@{
    ViewBag.Title = "ListarHabilidadPorUsuario";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Mis Habilidades</h2>
<h1 class="col-md-12"></h1>
<p>
    @Html.ActionLink("Crear Habilidad", "Crear")
</p>
<h1 class="col-md-12"></h1>
<div class="container col-md-12">
    @foreach (var item in Model)
    {
        <div class="card col-md-4 table-bordered" style="width: 36rem; height:auto;background-color:aliceblue">
            <div class="card-body">
                <h5 class="card-title"><b><big>@Html.DisplayFor(modelItem => item.Tema.nombre)</big></b></h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nivel: @Html.DisplayFor(modelItem => item.Nivel.descripcion)</li>
                </ul>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    Eliminar
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Eliminar habilidad</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Está seguro de eliminar esta habilidad?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-default">@Html.ActionLink("Eliminar", "ListarHabilidadPorUsuario")</button>
                            </div>
                        </div>
                    </div>
                </div>
                <h1></h1>
            </div>
        </div>
    }
</div>

