@model IEnumerable<FastLearning.Models.DescuentoUsuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2 style="font-weight:bold">Mis descuentos</h2>

<h3>Puntos: @ViewBag.Puntos</h3>
<p>
    <button type="submit" class="btn btn-default">@Html.ActionLink("Canjear puntos", "CanjearPuntos")</button>
</p>
<h1 class="col-md-12"></h1>
<div class="container col-md-12">
    @foreach (var item in Model)
    {
        <div class="card col-md-4 table-bordered" style="width: 36rem; height:auto;background-color:aliceblue">
            <div class="card-body">
                <h5 class="card-title" style="text-align:center"><b><big>@Html.DisplayFor(modelItem => item.Descuento.nombre) de descuento</big></b></h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Fecha de registro: @Html.DisplayFor(modelItem => item.fecha_registro)</li>
                </ul>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    Eliminar
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Eliminar descuento</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Está seguro de eliminar este descuento?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <h1></h1>
            </div>
        </div>
    }
</div>
<h1 class="col-md-12"></h1>
