@model IEnumerable<FastLearning.Models.Descuento>
<div class="container col-md-12">
    <h2 style="font-weight:bold; text-align:center">Descuentos disponibles</h2>
    <h1 class="col-md-12"></h1>
    @foreach (var item in Model)
    {
        <div class="card col-md-4 table-bordered" style="width: 25rem; height:auto;background-color:aliceblue">
            <div class="card-body">
                <h5 class="card-title" style="text-align:center"><b><big>@Html.DisplayFor(modelItem => item.nombre) de descuento</big></b></h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Valor: @Html.DisplayFor(modelItem => item.valor) puntos</li>
                </ul>
                <h1></h1>
            </div>
        </div>
    }
</div>
<h1 class="col-md-12"></h1>